---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


## Courses
I taught the following course in Aalto University, Department of Electrical Engineering and Automation

Distributed Estimation and Control of Cyber-Physical Systems (Master level): Autumn 2024.


I was a teaching assistant for the following course in Tampere University:

Distributed Control and Optimization of Cyber-Physical Systems: 2022



I taught the following courses in International Islamic University, Islamabad, Pakistan.

**Undergraduate Courses:**
1. Control Systems 2. Differential Equations 3. Linear Algebra 4. Advance Calculus
5. Signals and Systems 6. Electronic Circuit Design 7. Analog Filter Design

**Graduate Courses**
1. Advanced Linear Control Systems 2. Optimal Control

## Supervision

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
